
*.json
*.csproj

/ButtonTest/Library
/ButtonTest/Logs
/ButtonTest/.vscode
/ButtonTest/Temp
/ButtonTest/Packages


/Elevator/Library
/Elevator/Logs
/Elevator/.vscode
/Elevator/Temp
/Elevator/Packages


